*{
    margin: 0%;
    padding: 0%;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.quantity-input {
    width: 50px;
    text-align: center;
}

.total-price {
    margin-top: 10px;
    font-weight: bold;
}

.buy-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #45a049;
}

/* Payment form styles */
#payment-form {
    display: none;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-field {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.payment-product-details {
    margin-bottom: 15px;
}

.product-total-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 15px;
    display: none; /* Hide description in product card */
}
.mainheader{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product-image{
    width: 300px;
    height: 300px;
}
